-i https://pypi.org/simple/
blinker==1.4
certifi==2019.9.11
chardet==3.0.4
click==7.0
flask-dance==1.1.0
flask-login==0.4.1
flask-sqlalchemy==2.3.2
flask==1.0.2
idna==2.7
itsdangerous==1.1.0
jinja2==2.10.3
lazy==1.4
markupsafe==1.1.1
oauthlib==3.1.0
requests-oauthlib==1.2.0
requests==2.20.1
six==1.12.0
sqlalchemy-utils==0.33.6
sqlalchemy==1.2.14
urllib3==1.24.2
urlobject==2.4.3
werkzeug==0.16.0
